# Dependencies
node_modules/

# Environment variables (CRITICAL: Contains your API Key)
.env

# Runtime Data
# We ignore the live DB so it doesn't get overwritten by others.
# We KEEP 'sample_output.json' so the reviewer can see the data.
data.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db